html {
  scroll-behavior: smooth;
}
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
}

main {
    position: absolute;
    width: 100%;
    left:0px;
    top:0px;
    color: white;
    font-family: monospace;
    justify-content: center;
    text-align: center;
    font-size: larger;
}

.video {
    display: flex;
    justify-content: center;
}
.video iframe {
    aspect-ratio: 16 / 9;
    width: 64% !important;
}

main section {
    min-height: 100vh;
    padding: 20px;
}

main section img {
    width: 64%;
    height: auto;
    flex: 1 1 auto;
    object-fit: cover;
}

.scroll-hint{
    position: fixed;
    bottom: 20px;
    width: 100%;
}

main nav {
    display: flex;
    justify-content: space-between;
}

main nav ul {
    display: flex;
    list-style-type: none;
}
main nav p {
    margin-left: 15px;
}
main nav ul li {
    margin: 0 15px;
}

.link{
    color: white;
}

#about .list {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about .list .list-elem {
    margin: 0 15px;
}

#skills .content {
    display: flex;
    justify-content: space-evenly;
}
#skills .content .list {
    margin: 0 15px;
    flex: 1;
}

#software-rasterizer .content {
    display: flex;
    justify-content: space-between;
}
#software-rasterizer .content .text {
    text-align: left;
    padding-right: 15px;
}