html {
  scroll-behavior: smooth;
}
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
}

main {
    position: absolute;
    left:0px;
    top:0px;
    color: white;
    font-family: monospace;
    justify-content: center;
    text-align: center;
    font-size: larger;
}

.video {
    display: flex;
    justify-content: center;
}
.video iframe {
    aspect-ratio: 16 / 9;
    width: 64% !important;
}

main section {
    min-height: 100vh;
    padding: 20px;
}

main section img {
    width: 64%;
    height: auto;
    flex: 1 1 auto;
    object-fit: cover;
}

#scroll-hint-root {
    visibility: visible;
    position: fixed;
    bottom: 20px;
    width: 100%;
}
#scroll-hint{
    display: inline;
    background-color: rgba(0, 0, 0, 0.288);
}

main nav {
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.288);
    z-index: 1;
}

main nav ul {
    display: flex;
    list-style-type: none;
}
main nav p {
    margin-left: 15px;
}
main nav ul li {
    margin: 0 15px;
}

.link{
    color: white;
}

#home #greeting {
    position: relative;
    top: 15vh;
    left: 5%;
    width: 30%;
}

#home #under-construction {
    position: absolute;
    text-align: right;
    top: 73vh;
    right: 16%;
}

#about #about-me {
    position: relative;
    top: 20px;
}
#about #about-me .list {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about #about-me .list .list-elem {
    margin: 0 15px;
}

#about #skills {
    position: relative;
    top: 30vh;
}
#about #skills .content {
    display: flex;
    justify-content: space-evenly;
}
#about #skills .content .list {
    margin: 0 15px;
    flex: 1;
}

#software-rasterizer .content {
    display: flex;
    justify-content: space-between;
}
#software-rasterizer .content .text {
    text-align: left;
    padding-right: 15px;
}